/* ------------------- FONTS ------------------- */

@font-face {
  font-family: "Sabon";
  src: url("../fonts/SabonLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: "Sabon Italic";
  src: url("../fonts/SabonLTStd-Italic.otf") format("opentype");
}

/* ------------------- STYLE ------------------- */

text {
  color: black;
}

body {
  font-family: "Sabon";
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.info {
  padding: 5px;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
}

footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 800px) {
  body {
    width: 390px;
  }
}

/* ------------------- PRINT CSS ------------------- */

@media print {
  footer {
    display: none;
  }

  canvas {
    display: none;
  }

  body {
    margin: 25%;
  }
}
